{% extends 'simulado/base.html' %}
{% load static %}

{% block title %}Lista de Simulados - Simulados Online{% endblock %}

{% block style %}
<style>
    .clickable-row:hover {
        background-color: #f8f9fa !important;
        transition: all 0.2s ease-in-out;
    }

    .clickable-row {
        transition: all 0.2s ease-in-out;
    }
</style>
{% endblock %}

{% block content %}
<section class="container py-5">
    <h1 class="mb-4">Lista de Simulados</h1>
    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquisar por tema..." aria-label="Pesquisar por tema..." name="tema">
            <button class="btn btn-dark" type="submit">Buscar</button>
        </div>
    </form>
    <div class="table-responsive table-striped table-hover align-middle">
        <table class="table">
            <thead>
                <tr>
                    <th>Tema</th>
                    <th>Quantidade de questões</th>
                    <th>Data de Criação</th>
                    <th>Usuário</th>
                </tr>
            </thead>
            <tbody>
                {% for simulado in simulados %}
                <tr class="clickable-row" data-href="{% url 'simulado:detalhar_simulado' simulado.id %}"
                    style="cursor: pointer;">
                    <td>{{ simulado.tema }}</td>
                    <td>{{ simulado.qtd_questoes }}</td>
                    <td>{{ simulado.data_formatada }}</td>
                    <td>{{ simulado.usuario }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center text-muted">Nenhum simulado encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script src="{% static 'js/detalhar_sim.js' %}"></script>
{% endblock %}